:root {
  --global-bg-color: #ffffff;
  --global-code-bg-color: #f5f6f7;
  --global-text-color: #333333;
  --global-text-color-light: #666666;

  --global-theme-color: #00549f;
  --global-hover-color: #003b70;

  --global-footer-bg-color: #003b70;
  --global-footer-text-color: #ffffff;
  --global-footer-link-color: #ffd500;

  --global-divider-color: rgba(0, 84, 159, 0.15);
  --global-card-bg-color: #ffffff;
}

html[data-theme="dark"] {
  --global-theme-color: #ffd500;
  --global-hover-color: #ffffff;
}
